<div>
  <div class="air__utils__heading">
    <h5>
      <span class="mr-3">Antd Tables</span>
      <a
        href="https://ant.design/components/table"
        rel="noopener noreferrer"
        target="_blank"
        class="btn btn-sm btn-light"
      >
        Official Documentation
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="mb-4">
        <strong>Basic Usage</strong>
      </h4>
      <air-antd-table-basic></air-antd-table-basic>
      <h4 class="mb-4">
        <strong>Row Selection</strong>
      </h4>
      <air-antd-table-row-selection></air-antd-table-row-selection>
      <h4 class="mb-4">
        <strong>Filter and Sorter</strong>
      </h4>
      <air-antd-table-filter></air-antd-table-filter>
      <h4 class="mb-4">
        <strong>Reset Filters and Sorters</strong>
      </h4>
      <air-antd-table-reset-filter></air-antd-table-reset-filter>
      <h4 class="mb-4">
        <strong>Customized filter panel</strong>
      </h4>
      <air-antd-table-custom-filter></air-antd-table-custom-filter>
      <h4 class="mb-4">
        <strong>Sizes</strong>
      </h4>
      <air-antd-table-size></air-antd-table-size>
      <h4 class="mb-4">
        <strong>Bordered title and footer</strong>
      </h4>
      <air-antd-table-border></air-antd-table-border>
      <h4 class="mb-4">
        <strong>Expandable Row</strong>
      </h4>
      <air-antd-table-expanded></air-antd-table-expanded>
      <h4 class="mb-4">
        <strong>colSpan and rowSpan</strong>
      </h4>
      <air-antd-table-span></air-antd-table-span>
      <h4 class="mb-4">
        <strong>Tree data</strong>
      </h4>
      <air-antd-table-tree></air-antd-table-tree>
      <h4 class="mb-4">
        <strong>Fixed Header</strong>
      </h4>
      <air-antd-table-fixed-header></air-antd-table-fixed-header>
      <h4 class="mb-4">
        <strong>Fixed Columns</strong>
      </h4>
      <air-antd-table-fixed-columns></air-antd-table-fixed-columns>
      <h4 class="mb-4">
        <strong>Fixed Columns and Header</strong>
      </h4>
      <air-antd-table-fixed-all></air-antd-table-fixed-all>
      <h4 class="mb-4">
        <strong>Grouping table head</strong>
      </h4>
      <air-antd-table-grouping></air-antd-table-grouping>
      <h4 class="mb-4">
        <strong>Editable Cells</strong>
      </h4>
      <air-antd-table-editable-cells></air-antd-table-editable-cells>
      <h4 class="mb-4">
        <strong>Editable Rows</strong>
      </h4>
      <air-antd-table-editable-rows></air-antd-table-editable-rows>
      <h4 class="mb-4">
        <strong>Dynamic</strong>
      </h4>
      <air-antd-table-dynamic></air-antd-table-dynamic>
    </div>
  </div>
</div>
