<div>
  <div class="air__utils__heading">
    <h5>Digitalocean Droplets</h5>
  </div>
  <div class="d-flex flex-wrap align-items-center">
    <div class="air__utils__avatar air__utils__avatar--size64 flex-shrink-0 mr-5 mb-3">
      <img src="assets/images/avatars/2.jpg" alt="Mary Stanform" />
    </div>
    <div class="mr-auto mb-3">
      <div class="text-dark font-weight-bold font-size-24">
        <span class="mr-3">Mediatec Software</span>
        <span class="align-middle text-primary text-uppercase font-size-12 badge badge-light">Default</span>
      </div>
      <div>Operational / Developer tooling / Update your project information under Settings</div>
    </div>
    <a class="btn btn-light btn-lg text-blue font-size-14" href="javascript: void(0);">Move assets →</a>
  </div>
  <nz-tabset class="air-tabs-bordered mb-2" [nzSelectedIndex]="0">
    <nz-tab nzTitle="Resources"></nz-tab>
    <nz-tab nzTitle="Activity"></nz-tab>
    <nz-tab nzTitle="Settings"></nz-tab>
  </nz-tabset>
  <div class="row mb-4">
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body">
          <air-chart-4></air-chart-4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body">
          <air-chart-4v1></air-chart-4v1>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body">
          <air-chart-4v2></air-chart-4v2>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body">
          <air-chart-4v3></air-chart-4v3>
        </div>
      </div>
    </div>
  </div>
  <h6 class="mb-4 text-uppercase">
    <strong>Droplets (2)</strong>
  </h6>
  <div class="mb-5">
    <div class="card mb-3">
      <div class="card-body py-2">
        <div class="d-flex align-items-center flex-wrap">
          <div class="d-flex flex-nowrap align-items-center width-200 flex-shrink-1 mr-2">
            <div class="air__utils__donut air__utils__donut--danger mr-2 flex-shrink-0"></div>
            <a href="javascript: void(0);" class="font-weight-bold text-blue text-nowrap">mediatec-main-server</a>
          </div>
          <div class="flex-grow-1 mr-2">FRA1 / 1GB / 25GB Disk</div>
          <div class="flex-grow-1 mr-auto">46.101.103.230</div>
          <div class="d-inline-block">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
              nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body py-2">
        <div class="d-flex align-items-center flex-wrap">
          <div class="d-flex flex-nowrap align-items-center width-200 flex-shrink-1 mr-2">
            <div class="air__utils__donut air__utils__donut--success mr-2 flex-shrink-0"></div>
            <a href="javascript: void(0);" class="font-weight-bold text-blue text-nowrap">mediatec-cdn</a>
          </div>
          <div class="flex-grow-1 mr-2">FRA1 / 1GB / 25GB Disk</div>
          <div class="flex-grow-1 mr-auto">46.101.103.230</div>
          <div class="d-inline-block">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
              nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h6 class="mb-4 text-uppercase">
    <strong>Create something new</strong>
  </h6>
  <div class="row">
    <div class="col-lg-4">
      <air-list-5></air-list-5>
    </div>
    <div class="col-lg-4">
      <air-list-5></air-list-5>
    </div>
    <div class="col-lg-4">
      <air-list-5></air-list-5>
    </div>
  </div>
</div>