<div>
  <div class="air__utils__heading">
    <h5>Apps: Profile</h5>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-body">
          <air-general-10v1></air-general-10v1>
        </div>
      </div>
      <div class="card text-white bg-primary">
        <air-general-12v1></air-general-12v1>
      </div>
      <div class="card">
        <div class="card-body">
          <air-general-1></air-general-1>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-list-19></air-list-19>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-12">
      <div class="card">
        <div class="card-header card-header-flex flex-column">
          <div class="d-flex flex-wrap border-bottom pt-3 pb-4 mb-3">
            <div class="mr-5">
              <div class="text-dark font-size-18 font-weight-bold">David Beckham</div>
              <div class="text-gray-6">@david100</div>
            </div>
            <div class="mr-5 text-center">
              <div class="text-dark font-size-18 font-weight-bold">100</div>
              <div class="text-gray-6">Posts</div>
            </div>
            <div class="mr-5 text-center">
              <div class="text-dark font-size-18 font-weight-bold">17,256</div>
              <div class="text-gray-6">Followers</div>
            </div>
          </div>
          <nz-tabset class="air-tabs air-tabs-bold" (nzSelectedIndexChange)="changeKey($event)">
            <nz-tab nzTitle="Agent Wall"></nz-tab>
            <nz-tab nzTitle="Messages"></nz-tab>
            <nz-tab nzTitle="Settings"></nz-tab>
          </nz-tabset>
        </div>
        <div class="card-body">
          <air-general-15 *ngIf="activeKey === 0"></air-general-15>
          <air-general-14 *ngIf="activeKey === 1"></air-general-14>
          <form nz-form [nzLayout]="'vertical'" *ngIf="activeKey === 2">
            <h5 class="text-black mt-2 mb-3">
              <strong>Personal Information</strong>
            </h5>
            <div class="row">
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="userName">Username:</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="Username" id="userName">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="email">Email:</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="Email" id="email">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <h5 class="text-black mt-2 mb-3">
              <strong>New Password</strong>
            </h5>
            <div class="row">
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="password">Password:</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="Password" id="password">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="confPassword">Confirm Password:</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="Confirm password" id="confPassword">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <h5 class="text-black mt-2 mb-3">
                  <strong>Profile Avatar</strong>
                </h5>
                <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                  <button nz-button>
                    <i nz-icon type="upload"></i><span>Click to Upload</span>
                  </button>
                </nz-upload>
              </div>
              <div class="col-lg-6">
                <h5 class="text-black mt-2 mb-3">
                  <strong>Profile Background</strong>
                </h5>
                <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                  <button nz-button>
                    <i nz-icon type="upload"></i><span>Click to Upload</span>
                  </button>
                </nz-upload>
              </div>
            </div>
            <div class="form-actions">
              <button nz-button style="width: 150px;" [nzType]="'primary'" class="mr-3">Submit</button>
              <button nz-button>Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>