<div class="container">
  <div class="card">
    <div class="card-body">
      <form nz-form [formGroup]="createForm" (ngSubmit)="submitForm()">
        <div class="air__utils__heading">
          <h5>Formularz zgłoszenia</h5>
        </div>
        <nz-form-item>
          <nz-form-label>1. Czego dotyczy zgłoszenie?</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('answer1') }}">
            <nz-radio-group formControlName="answer1">
              <label nz-radio *ngFor="let answer of answers[1]" nzValue="{{ answer.key }}">{{ answer.value }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>2. Czy była próba samodzielnego rozwiązania?</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('answer2') }}">
            <nz-radio-group formControlName="answer2">
              <label nz-radio *ngFor="let answer of answers[2]" nzValue="{{ answer.key }}">{{ answer.value }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>3. Czy potrzebujesz porady?</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('answer3') }}">
            <nz-radio-group formControlName="answer3">
              <label nz-radio *ngFor="let answer of answers[3]" nzValue="{{ answer.key }}">{{ answer.value }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>4. Z jakiej przeglądarki korzystasz?</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('answer4') }}">
            <nz-radio-group formControlName="answer4">
              <label nz-radio *ngFor="let answer of answers[4]" nzValue="{{ answer.key }}">{{ answer.value }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>5. Z jakiego urządzenia korzystasz?</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('answer5') }}">
            <nz-radio-group formControlName="answer5">
              <label nz-radio *ngFor="let answer of answers[5]" nzValue="{{ answer.key }}">{{ answer.value }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>6. Czy problem się powtarza?</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('answer6') }}">
            <nz-radio-group formControlName="answer6">
              <label nz-radio *ngFor="let answer of answers[6]" nzValue="{{ answer.key }}">{{ answer.value }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="email">Adres e-mail</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('email') }}">
            <input nz-input formControlName="email" type="email" id="email">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="content">Treść zgłoszenia</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('content') }}">
            <textarea rows="4" nz-input formControlName="content" id="content"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
