<div class="auth">
  <div class="mt-auto mb-auto pl-5 pr-5 pt-5 pb-5 bg-white container">
    <div class="text-dark font-size-30 mb-2 text-center">Zaloguj się</div>
    <div class="text-muted text-center mb-4"></div>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Proszę wpisać adres e-mail!">
          <input type="text" nz-input formControlName="email" nzSize="large" placeholder="Adres e-mail" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Proszę wpisać hasło!">
          <input type="password" nz-input nzSize="large" formControlName="password" placeholder="Hasło" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [nzSize]="'large'" class="text-center btn btn-success w-100 font-weight-bold font-size-18">Zaloguj się</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
