<div>
  <div class="air__utils__heading">
    <h5>Dashboard: Statistics</h5>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-body">
          <air-general-2></air-general-2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-chart-9></air-chart-9>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-chart-10></air-chart-10>
        </div>
      </div>
      <div class="card">
        <div class="card-body bg-gray-2">
          <air-general-12v3></air-general-12v3>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-body">
          <air-general-2v1></air-general-2v1>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-general-1></air-general-1>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-list-18></air-list-18>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-list-11></air-list-11>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-body">
          <air-general-2v2></air-general-2v2>
        </div>
      </div>
      <div class="card">
        <air-general-13v1></air-general-13v1>
      </div>
      <div class="card">
        <air-chart-6></air-chart-6>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <air-table-7></air-table-7>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <air-table-5></air-table-5>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <air-table-4></air-table-4>
        </div>
      </div>
    </div>
  </div>
</div>