<div>
  <div class="air__utils__heading">
    <h5>
      <span class="mr-3">Bootstrap Tables</span>
      <a
        href="https://ng-bootstrap.github.io/#/components/table/overview"
        rel="noopener noreferrer"
        target="_blank"
        class="btn btn-sm btn-light"
      >
        Official Documentation
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="mb-4">
        <strong>Basic table</strong>
      </h4>
      <air-bootstrap-table-basic></air-bootstrap-table-basic>
      <h4 class="mb-4">
        <strong>Sortable table</strong>
      </h4>
      <air-bootstrap-table-sort></air-bootstrap-table-sort>
      <h4 class="mb-4">
        <strong>Search and filtering</strong>
      </h4>
      <air-bootstrap-table-search-filter></air-bootstrap-table-search-filter>
      <h4 class="mb-4">
        <strong>Pagination table</strong>
      </h4>
      <air-bootstrap-table-pagination></air-bootstrap-table-pagination>
      <h4 class="mb-4">
        <strong>Complete example</strong>
      </h4>
      <air-bootstrap-table-complete></air-bootstrap-table-complete>
    </div>
  </div>
</div>
