<div>
  <div class="air__utils__heading">
    <h5>Zgłoszenia</h5>
  </div>
  <div *ngIf="ticket" class="row">
    <div class="col col-md-8">
      <div class="card">
        <div class="card-header"><strong>Odpowiedzi na pytania z formularza</strong></div>
        <div class="card-body">
          <p>1. Czego dotyczy zgłoszenie? <strong>{{ticket.getAnswer1()}}</strong></p>
          <p>2. Czy była próba samodzielnego rozwiązania? <strong>{{ticket.getAnswer2()}}</strong></p>
          <p>3. Czy potrzebujesz porady? <strong>{{ticket.getAnswer3()}}</strong></p>
          <p>4. Z jakiej przeglądarki korzystasz? <strong>{{ticket.getAnswer4()}}</strong></p>
          <p>5. Z jakiego urządzenia korzystasz? <strong>{{ticket.getAnswer5()}}</strong></p>
          <p class="mb-0">6. Czy problem się powtarza? <strong>{{ticket.getAnswer6()}}</strong></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><strong>Treść zgłoszenia</strong></div>
        <div class="card-body">{{ticket.content}}</div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card">
        <div class="card-header">Dane kontaktowe</div>
        <div class="card-body">
          <p class="mb-0">Adres e-mail: <strong>{{ticket.email}}</strong></p>
        </div>
      </div>
      <div class="card">
        <!--<div class="card-header"></div>-->
        <div class="card-body">
          <p>Data: <strong>{{ticket.created_at|date:'medium'}}</strong></p>
          <p>Status: <span [ngClass]="[ticket.state === 'opened' ? 'font-size-12 badge badge-primary' : 'font-size-12 badge badge-default']">{{ ticket.getState() }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a *ngIf="ticket.state === 'opened'" (click)="closeTicket($event)" class="font-size-11">zamknij</a>
          </p>
          <p>Przypisany pracownik:
            <!--<strong *ngIf="ticket.worker">{{ticket.worker.getFullName()}}</strong><strong *ngIf="!ticket.worker">—</strong>-->
            <nz-select nzShowSearch nzPlaceHolder="—" [(ngModel)]="worker" (ngModelChange)="assignWorker($event)">
              <nz-option *ngFor="let worker of workers" [nzLabel]="worker.getFullName()" [nzValue]="worker.uuid"></nz-option>
            </nz-select>
          </p>
          <p>Szacowany czas: <nz-input-number [ngModel]="ticket.estimate_time" [nzMin]="0" [nzStep]="0.01" (ngModelChange)="changeEstimateTime($event)"></nz-input-number> [h]</p>
          <p class="mb-0">Spędzony czas: <nz-input-number [ngModel]="ticket.spend_time" [nzMin]="0" [nzStep]="0.01" (ngModelChange)="changeSpendTime($event)"></nz-input-number> [h]</p>
        </div>
      </div>
    </div>
  </div>
</div>
