<div>
  <div class="air__utils__heading">
    <h5>Dashboard: Crypto</h5>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-12">
      <div class="card">
        <nz-tabset class="air-tabs-bordered" [nzSelectedIndex]="2">
          <nz-tab nzTitle="Hour"></nz-tab>
          <nz-tab nzTitle="Day"></nz-tab>
          <nz-tab nzTitle="Week"></nz-tab>
          <nz-tab nzTitle="Month"></nz-tab>
        </nz-tabset>
        <div class="card-body">
          <x-chartist [data]="chartData" [type]="'Line'" [options]="chartOptions" class="height-300">
          </x-chartist>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <air-general-7></air-general-7>
            </div>
          </div>
          <div class="card">
            <air-chart-6></air-chart-6>
          </div>
          <div class="card">
            <div class="card-body">
              <air-general-5></air-general-5>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <air-list-3></air-list-3>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <air-general-12></air-general-12>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <air-chart-5></air-chart-5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5 class="text-dark mb-0">Cryptocurrencies</h5>
        </div>
        <div class="card-body">
          <air-list-6></air-list-6>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-list-15></air-list-15>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <air-chart-1></air-chart-1>
        </div>
      </div>
    </div>
  </div>
</div>