@import 'src/assets/styles/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* PRICING TABLES */

.separated {
  overflow: hidden;

  .item {
    margin-right: -1px;
    border-right: 1px solid $gray-2;
    border-radius: 0;
  }
}

.item {
  border-radius: 5px;
}
