<nz-table
  #groupingTable
  [nzData]="listOfDisplayData"
  nzBordered
  nzSize="middle"
  [nzWidthConfig]="widthConfig"
  [nzScroll]="scrollConfig"
  class="air__utils__scrollTable mb-4"
>
  <thead>
  <tr>
    <th rowspan="4" nzLeft="0px" nzShowFilter [nzFilters]="filterName" (nzFilterChange)="search($event)">Name</th>
    <th colspan="4">Other</th>
    <th colspan="2">Company</th>
    <th rowspan="4" nzRight="0px">Gender</th>
  </tr>
  <tr>
    <th rowspan="3" nzShowSort [(nzSort)]="sortValue" (nzSortChange)="search(searchName)">Age</th>
    <th colspan="3">Address</th>
    <th rowspan="3">Company Address</th>
    <th rowspan="3">Company Name</th>
  </tr>
  <tr>
    <th rowspan="2">Street</th>
    <th colspan="2">Block</th>
  </tr>
  <tr>
    <th>Building</th>
    <th>Door No.</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of groupingTable.data">
    <td nzLeft="0px">{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.street }}</td>
    <td>{{ data.building }}</td>
    <td>{{ data.number }}</td>
    <td>{{ data.companyAddress }}</td>
    <td>{{ data.companyName }}</td>
    <td nzRight="0px">{{ data.gender }}</td>
  </tr>
  </tbody>
</nz-table>
