<div>
  <div class="air__utils__heading">
    <h5>Pracownicy</h5>
  </div>
  <div class="card">
    <div class="card-body">
      <a [routerLink]="'/admin/workers/create'" class="btn btn-primary mb-4">Dodaj</a>
      <nz-table #basicTable [nzData]="workers" [nzScroll]="{x: '100%'}" class="air__utils__scrollTable mb-4">
        <thead>
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Adres e-mail</th>
          <th>Operacje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.first_name }}</td>
          <td>{{ data.last_name }}</td>
          <td>{{ data.email }}</td>
          <td>
            <a [routerLink]="['/admin/workers/edit/', data.uuid]">edytuj</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
