<div>
  <div class="air__utils__heading">
    <h5>
      <span class="mr-3">C3.js</span>
      <a href="http://c3js.org/" target="_blank" class="btn btn-sm btn-light">
        Official Documentation
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Simple Line</strong>
          </h4>
          <div class="mb-5">
            <div id="simple-line"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Spline</strong>
          </h4>
          <div class="mb-5">
            <div id="spline"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Step</strong>
          </h4>
          <div class="mb-5">
            <div id="step"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Area</strong>
          </h4>
          <div class="mb-5">
            <div id="area"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Scatter</strong>
          </h4>
          <div class="mb-5">
            <div id="scatter"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Bar</strong>
          </h4>
          <div class="mb-5">
            <div id="bar"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Stacked Bar</strong>
          </h4>
          <div class="mb-5">
            <div id="stacked-bar"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Combination</strong>
          </h4>
          <div class="mb-5">
            <div id="combination"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Sub Chart</strong>
          </h4>
          <div class="mb-5">
            <div id="sub-chart"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Zoom</strong>
          </h4>
          <div class="mb-5">
            <div id="zoom"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Pie Chart</strong>
          </h4>
          <div class="mb-5">
            <div id="pie-chart"></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <h4 class="mb-4">
            <strong>Donut Chart</strong>
          </h4>
          <div class="mb-5">
            <div id="donut-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>