<nz-table #expandTable [nzData]="listOfMapData" class="air__utils__scrollTable mb-4"
          [nzScroll]="{x: '100%'}">
  <thead>
  <tr>
    <th nzWidth="40%">Name</th>
    <th nzWidth="30%">Age</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
        >
          {{ item.name }}
        </td>
        <td>{{ item.age }}</td>
        <td>{{ item.address }}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
