<div>
  <div class="air__utils__heading">
    <h5>Wordpress Post</h5>
  </div>
  <div class="row">
    <div class="col-xl-9 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="mb-2">
            <a href="javascript: void(0);" class="text-dark font-size-24 font-weight-bold">
              [Feature Request] How to enable custom font that comes from svg #2460
            </a>
          </div>
          <div class="mb-3">
            <a class="font-weight-bold" href="javascript: void(0);">zxs2162</a> wrote this post 12
            days ago · 0 comments
          </div>
          <div class="mb-4">
            <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2">
              Umi
            </a>
            <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2">
              React-framework
            </a>
            <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2">
              Umijs
            </a>
          </div>
          <div>
            <img class="img-fluid mb-4" src="assets/images/content/photos/1.jpeg" alt="Sea" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
              consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
              consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
              consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
              consectetur corporis esse labore minima molestias, exercitationem consequuntur!
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
              consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
              consectetur corporis esse labore minima molestias, exercitationem consequuntur!
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h6 class="mb-4 text-uppercase">
            <strong>Comments (76)</strong>
          </h6>
          <air-general-15></air-general-15>
          <a href="javascript: void(0);" class="d-block btn btn-light text-primary mt-3">Load More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center flex-wrap border-bottom mb-3 pb-3">
            <div class="air__utils__avatar air__utils__avatar--size110 mr-3 mb-3 align-items-center flex-shrink-0">
              <img src="assets/images/avatars/5.jpg" alt="Mary Stanform" />
            </div>
            <div class="mb-3">
              <div class="font-weight-bold font-size-16 text-dark mb-2">
                Trinity Parson
              </div>
              <p class="font-italic">
                “I hope you enjoy reading this as much as I enjoyed writing this.”
              </p>
              <a href="#" class="btn btn-sm btn-primary">View Profile</a>
            </div>
          </div>
          <h5 class="text-dark mb-4">Leave a comment</h5>
          <form nz-form class="login-form">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixUser">
                  <input nz-input placeholder="Your name">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixMail">
                  <input nz-input placeholder="Your email">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group>
                  <textarea rows="3" nz-input placeholder="Your message"></textarea>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary" class="width-200 mr-4">
                <i class="fa fa-send mr-2"></i>
                Send
              </button>
              <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                <button nz-button>
                  <span>Attach File</span>
                </button>
              </nz-upload>
            </nz-form-item>
            <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
            <ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-12">
      <div class="pb-4 mb-3 border-bottom">
        <label class="font-weight-bold d-block" for="search-input">
          <span class="mb-2 d-inline-block">Search Post</span>
          <input class="form-control width-100p" type="text" placeholder="Search post..." id="search-input" />
        </label>
      </div>
      <div class="pb-4 mb-3 border-bottom">
        <label class="font-weight-bold d-block" for="subscribe-input">
          <span class="mb-2 d-inline-block">Subscribe</span>
          <input class="form-control width-100p" type="text" id="subscribe-input" placeholder="Enter your email..." />
        </label>
      </div>
      <div class="pb-4 mb-3 border-bottom">
        <div class="font-weight-bold mb-2">Categories</div>
        <div>
          <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2">
            Umi
          </a>
          <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2">
            React-framework
          </a>
          <a href="javascript: void(0);" class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2">
            Umijs
          </a>
        </div>
      </div>
      <div class="pb-4 mb-3 border-bottom">
        <div class="font-weight-bold mb-3">Latest Posts</div>
        <air-list-15></air-list-15>
      </div>
    </div>
  </div>
</div>