<div>
  <div class="air__utils__heading">
    <h5>Dodaj pracownika</h5>
  </div>
  <div class="card">
    <div class="card-body">
      <form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzFor="first_name">Imię</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('first_name') }}">
            <input nz-input formControlName="first_name" type="text" id="first_name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="last_name">Nazwisko</nz-form-label>
          <nz-form-control nzErrorTip="{{ getErrorMessage('last_name') }}">
            <input nz-input formControlName="last_name" type="text" id="last_name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">Zapisz</button>
            <a [routerLink]="['/admin/workers']" class="btn btn-link">powrót</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
