<div>
  <div class="air__utils__heading">
    <h5>Dashboard: Analytics</h5>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-6">
      <h5 class="text-dark mb-4">Google Analytics Home</h5>
      <div class="card">
        <air-chart-2></air-chart-2>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div class="card">
            <div class="card-body">
              <air-chart-9></air-chart-9>
            </div>
          </div>
          <h5 class="text-dark mb-4">How do you acquire users?</h5>
          <div class="card">
            <div class="card-body">
              <air-chart-5></air-chart-5>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card">
            <div class="card-body">
              <air-chart-10></air-chart-10>
            </div>
          </div>
          <h5 class="text-dark mb-4">How are your active users trending over time?</h5>
          <div class="card">
            <div class="card-body">
              <air-chart-1></air-chart-1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6">
      <h5 class="text-dark mb-4">Ask analytics Intelligence</h5>
      <div class="card">
        <div class="card-body">
          <air-list-15></air-list-15>
        </div>
      </div>
      <h5 class="text-dark mb-4">What are your top devices?</h5>
      <div class="card">
        <div class="card-body">
          <air-list-12></air-list-12>
        </div>
      </div>
    </div>
  </div>
</div>