<div>
  <div class="air__utils__heading">
    <h5>Zgłoszenia</h5>
  </div>
  <div class="card">
    <div class="card-body">
      <nz-table #basicTable [nzData]="tickets" [nzScroll]="{x: '100%'}" class="air__utils__scrollTable mb-4">
        <thead>
        <tr>
          <th>Data</th>
          <th>Adres e-mail</th>
          <th>Szacowany czas</th>
          <th>Spędzony czas</th>
          <th>Status</th>
          <th>Operacje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.created_at|date:'medium' }}</td>
          <td>{{ data.email }}</td>
          <td *ngIf="data.estimate_time">{{ data.estimate_time|number:'1.2-2' }}</td>
          <td *ngIf="!data.estimate_time">—</td>
          <td *ngIf="data.spend_time">{{ data.spend_time|number:'1.2-2' }}</td>
          <td *ngIf="!data.spend_time">—</td>
          <td><span [ngClass]="[data.state === 'opened' ? 'font-size-12 badge badge-primary' : 'font-size-12 badge badge-default']">{{ data.getState() }}</span></td>
          <td>
            <a [routerLink]="['/admin/tickets/', data.uuid]">zobacz</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

