<div>
  <div class="air__utils__heading">
    <h5>Apps: Calendar</h5>
  </div>
  <nz-calendar>
    <ul *nzDateCell="let date" class="events">
      <ng-container [ngSwitch]="date.getDate()">
        <ng-container *ngSwitchCase="8">
          <li *ngFor="let item of listDataMap.eight">
            <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="10">
          <li *ngFor="let item of listDataMap.ten">
            <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="11">
          <li *ngFor="let item of listDataMap.eleven">
            <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <ng-container *nzMonthCell="let month">
      <div *ngIf="getMonthData(month) as monthData" class="notes-month">
        <section>{{ monthData }}</section>
        <span>Backlog number</span>
      </div>
    </ng-container>
  </nz-calendar>
</div>
