<nz-table #editRowTable nzBordered [nzData]="listOfData" class="air__utils__scrollTable mb-4"
          [nzScroll]="{x: '100%'}">
  <thead>
  <tr>
    <th nzWidth="25%">Name</th>
    <th nzWidth="15%">Age</th>
    <th nzWidth="40%">Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data">
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else nameInputTpl">
        {{ data.name }}
      </ng-container>
      <ng-template #nameInputTpl>
        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else ageInputTpl">
        {{ data.age }}
      </ng-container>
      <ng-template #ageInputTpl>
        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.age" />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else addressInputTpl">
        {{ data.address }}
      </ng-container>
      <ng-template #addressInputTpl>
        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" />
      </ng-template>
    </td>
    <td>
      <div class="editable-row-operations">
        <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
          <a (click)="startEdit(data.id)">Edit</a>
        </ng-container>
        <ng-template #saveTpl>
          <a (click)="saveEdit(data.id)">Save</a>
          <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
        </ng-template>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
