<button nz-button (click)="addRow()" nzType="primary">Add</button>
<nz-table #editRowTable nzBordered [nzData]="listOfData" class="air__utils__scrollTable mb-4"
          [nzScroll]="{x: '100%'}">
  <thead>
  <tr>
    <th nzWidth="30%">Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data" class="editable-row">
    <td>
      <div class="editable-cell" *ngIf="editId !== data.id; else editTpl">
        <div class="editable-cell-value-wrap" (click)="startEdit(data.id, $event)">
          {{ data.name }}
        </div>
      </div>
      <ng-template #editTpl>
        <input type="text" nz-input [(ngModel)]="data.name" />
      </ng-template>
    </td>
    <td>{{ data.age }}</td>
    <td>{{ data.address }}</td>
    <td>
      <a nz-popconfirm nzTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
