<div>
  <div class="air__utils__heading">
    <h5>Jira Dashboard</h5>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card air__utils__cardMarked air__utils__cardMarked--primary">
        <div class="card-header card-header-flex">
          <div class="d-flex flex-column justify-content-center mr-auto">
            <h5 class="mb-0">Introduction</h5>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="card-body">
          <h3 class="text-dark font-size-18 font-weight-bold mb-3">Welcome to Jira</h3>
          <p>
            New to Jira? Check out the
            <a href="javascript: void(0);" class="text-blue">Jira User's Guide.</a>
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type and scrambled it to make a type specimen book. It has survived not only
            five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged.
          </p>
        </div>
      </div>
      <div class="card air__utils__cardMarked air__utils__cardMarked--primary">
        <div class="card-header card-header-flex">
          <div class="d-flex flex-column justify-content-center mr-auto">
            <h5 class="mb-0">Revenue</h5>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="card-body">
          <air-general-1></air-general-1>
        </div>
      </div>
      <div class="card">
        <air-general-6></air-general-6>
      </div>
      <div class="card">
        <air-general-6v1></air-general-6v1>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card air__utils__cardMarked air__utils__cardMarked--primary">
        <div class="card-header card-header-flex">
          <div class="d-flex flex-column justify-content-center mr-auto">
            <h5 class="mb-0">Introduction</h5>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="card-body">
          <p>
            You currently have no <a href="javascript: void(0);" class="text-blue">issues</a> assigned
            to you. Enjoy your day!
          </p>
        </div>
      </div>
      <div class="card air__utils__cardMarked air__utils__cardMarked--primary">
        <div class="card-header card-header-flex">
          <div class="d-flex flex-column justify-content-center mr-auto">
            <h5 class="mb-0">Activity Stream</h5>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="card-body">
          <air-list-11></air-list-11>
        </div>
      </div>
      <div class="card air__utils__cardMarked air__utils__cardMarked--primary">
        <div class="card-header card-header-flex">
          <div class="d-flex flex-column justify-content-center mr-auto">
            <h5 class="mb-0">Statistics</h5>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
              <i class="fe fe-more-vertical"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><a href="javascript:;">Action</a></li>
                <li nz-menu-item><a href="javascript:;">Another action</a></li>
                <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                <li nz-menu-divider></li>
                <li nz-menu-item><a href="javascript:;">Separated link</a></li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="card-body">
          <air-table-1></air-table-1>
        </div>
      </div>
    </div>
  </div>
</div>
