<nz-table #colSpanTable [nzData]="listOfData" nzBordered class="air__utils__scrollTable mb-4"
          [nzScroll]="{x: '100%'}">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th colspan="2">Home phone</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of colSpanTable.data; index as i">
    <td>{{ data.name }}</td>
    <td [attr.colspan]="i === 4 ? 5 : 1">{{ data.age }}</td>
    <td [attr.rowspan]="i === 2 ? 2 : 1" *ngIf="i !== 3 && i !== 4">{{ data.tel }}</td>
    <td *ngIf="i !== 4">{{ data.phone }}</td>
    <td *ngIf="i !== 4">{{ data.address }}</td>
  </tr>
  </tbody>
</nz-table>
